@model IEnumerable<Projeto_final_Atos.Models.Atendimento>

@{
    ViewData["Title"] = "Atendimento";
}
<div class="container">


<p>
    <a asp-action="Create">Novo Atendimento</a>
</p>
<table class="table" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duvida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duvida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAtendimento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAtendimento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAtendimento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>